@model IEnumerable<DN_AsyncInn.Models.Amenities>

@{
    ViewData["Title"] = "All Amenities";
    Layout = "_Layout";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>

</p>
<div class="container" style="margin-top:30px">

    <table class="table table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go Home</a>
